<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pulkit.employeeapp">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".EmployeeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".CheckInternetConnectivity.NetWatcher">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <action android:name="android.location.PROVIDERS_CHANGED" />

        <category android:name="android.intent.category.DEFAULT" />

        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainViews.TaskHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainViews.TaskDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EmployeeLogin.empLogin"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.LocServ" />
        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".drawer"
            android:label="@string/title_activity_drawer1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.UploadQuotationService"
            android:exported="false" />

        <activity
            android:name=".Notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile.MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile.ContactCoordinator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfile.phonebook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.custTasks"
            android:screenOrientation="portrait" />


        <activity
            android:name=".measurement.MeasureList"
            android:screenOrientation="portrait" />

        <activity
            android:name=".measurement.dialogue"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".services.DownloadFileService"
            android:exported="false" />

        <receiver
            android:name=".BroadcastReceivers.AlarmReceiver"
            android:enabled="true" />

        <activity
            android:name=".MyProfile.CompletedJobs"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.UploadPhotoAndFile"
            android:exported="false" />

    </application>

</manifest>